%body
  %header.row
    %h1.text-center.col-md-6.col-md-offset-3 Find Restaurants
  %section.row
    %form
      .form-group.col-md-6.col-md-offset-3
        %label.sr-only{:for => "keywords"} Keywords
        %input.form-control{:autofocus => "", "ng-model" => "keywords", :name => "keywords", :placeholder => "What are you in the mood for?", :type => "text"}
      .form-group.col-md-6.col-md-offset-3.text-center
        %button.btn.btn-primary.btn-lg{"ng-click" => "search(keywords)"} Search
  %hr
  %section.row
    %h1.text-center.h2 Why don't you try